.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Arial', sans-serif; 
  color: #33475b;    
      }

img{
  padding: 10px; 
}
