body {
  width: 100vw;
  height: 100vh;
  background: url('jwst_carina_nebula.jpg');
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 10px;
  border-radius: 50%;
}

.text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}
