body {
  width: 100vw;
  height: 100vh;
  background: url('jwst_carina_nebula.jpg');
  background-size: cover;
}

.center {
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: center; /* Center items horizontally within the container */
  align-items: center; /* Center items vertically within the container */
}

img{
  padding: 10px; 
}
